h1{
    text-align: center;
}
#tries{
    font-family: 'Courier New', Courier, monospace;
    font-style:oblique;
}
#distance{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.p1{
    width: 200px;
    height: 200px;
}
